*
!README.md
!.hidden
!.gitignore
!.uncrustify.cfg

!.bashrc
!.bash_profile

!.icons
!.icons/**

!.themes
!.themes/**

!.ssh
!.ssh/config

!Wallpapers
!Wallpapers/**

!.dotfiles
!.dotfiles/**

!Games/
!Games/.gitkeep

# Flatpak (.var)
!.var
!.var/app

!.var/app/dev.zed.Zed
!.var/app/dev.zed.Zed/config
!.var/app/dev.zed.Zed/config/zed

!.var/app/org.qbittorrent.qBittorrent
!.var/app/org.qbittorrent.qBittorrent/data
!.var/app/org.qbittorrent.qBittorrent/data/qBittorrent
!.var/app/org.qbittorrent.qBittorrent/data/qBittorrent/nova3

# .CONFIG
!.config

!.config/user-dirs.dirs

!.config/fastfetch/
!.config/fastfetch/config.jsonc

!.config/firejail
!.config/firejail/**

!.config/wireplumber
!.config/wireplumber/**

!.config/MangoHud/
!.config/MangoHud/MangoHud.conf

!.config/fish/
!.config/fish/config.fish
!.config/fish/functions/
!.config/fish/functions/git.fish

!.config/gtk-*
!.config/gtk-*/**
.config/gtk-*/bookmarks

!.config/mpv/
!.config/mpv/mpv.conf

!.config/hypr/
!.config/hypr/**

!.config/micro
!.config/micro/**
.config/micro/buffers
.config/micro/backups

!.config/zed
!.config/zed/keymap.json
!.config/zed/tasks.json
!.config/zed/run.sh
!.config/zed/settings.json
!.config/zed/snippets
!.config/zed/snippets/*

!.config/Code
!.config/Code/User
!.config/Code/User/settings.json
!.config/Code/User/snippets
!.config/Code/User/snippets/**

!.config/Code - OSS
!.config/Code - OSS/User
!.config/Code - OSS/User/settings.json
!.config/Code - OSS/User/snippets
!.config/Code - OSS/User/snippets/**

!.config/btop
!.config/btop/btop.conf

!.config/rofi
!.config/rofi/**

!.config/waybar
!.config/waybar/**

!.config/mako
!.config/mako/**

!.config/alacritty/
!.config/alacritty/alacritty.toml

!.config/openvpn/
!.config/openvpn/**

!.config/autostart/
!.config/autostart/**

!.config/mimeapps.list

# .LOCAL
!.local/
!.local/share
!.local/bin

!.local/bin/ffxi_backup
!.local/bin/audit-system
!.local/bin/speedtest
!.local/bin/vpn-speedtest
!.local/bin/import-ovpn-folder
!.local/bin/ISOFlash
!.local/bin/nemo-terminal-run
!.local/bin/appimage-handler.sh
!.local/bin/zeditor


!.local/share/mime
!.local/share/mime/application
!.local/share/mime/application/*
!.local/share/mime/packages
!.local/share/mime/packages/*

!.local/share/dbus-1
!.local/share/dbus-1/**

!.local/share/modorganizer
!.local/share/modorganizer/**

!.local/share/qBittorrent
!.local/share/qBittorrent/nova3
!.local/share/qBittorrent/nova3/engines
!.local/share/qBittorrent/nova3/engines/*.py
.local/share/qBittorrent/nova3/engines/__init__.py

!.local/share/nemo
!.local/share/nemo/actions
!.local/share/nemo/actions/*

!.local/share/applications
!.local/share/applications/cups.desktop
!.local/share/applications/nemo.desktop
!.local/share/applications/hyprpicker.desktop
!.local/share/applications/nm-import-ovpn.desktop
!.local/share/applications/discord.desktop
!.local/share/applications/ISOFlash.desktop
!.local/share/applications/network-menu.desktop
!.local/share/applications/micro.desktop
!.local/share/applications/qv4l2.desktop
!.local/share/applications/lstopo.desktop
!.local/share/applications/qvidcap.desktop
!.local/share/applications/rofi*.desktop
!.local/share/applications/steam.desktop
!.local/share/applications/discord.desktop
!.local/share/applications/org.gnome.FileRoller.desktop
!.local/share/applications/avahi-discover.desktop
!.local/share/applications/yad-settings.desktop
!.local/share/applications/bssh.desktop
!.local/share/applications/bvnc.desktop
!.local/share/applications/electron*.desktop
!.local/share/applications/fish.desktop
!.local/share/applications/xgps.desktop
!.local/share/applications/xgpsspeed.desktop
!.local/share/applications/appimage-handler.desktop
